.verticalFlex{

     display: flex;
     flex-direction: column ;
     justify-content: flex-start;
}
.nameLine {
    background-color: red;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
.nameTec{
    font-size: larger;
      text-align: left;
      padding-left: 4%;
      padding-top: 2%;
}
.caixaAvisos{
    padding: 2em 5em 5em 5em;
    flex-grow: 4; 
}
.projectLine {
    background-color: blue;
     display: flex;
     flex-direction: row;
     justify-content:  space-evenly;
}